---
import Layout from "../ui/Layout.astro";
import Dialog from "../ui/Dialog.astro";
import jQuery from "jquery/dist/jquery.min.js?url";
import { parseSession } from "../session";

export const prerender = false;

const token = Astro.cookies.get("gp_token");
const session = await parseSession(token?.value);

const name = session?.profile.name || "-";
const avatarUrl = session?.profile.avatarUrl || "";

---

<Layout avatarUrl={avatarUrl} name={name}>
    <Dialog />

    <section class="sample-content">
        <h2>Load from album</h2>
        <p class="subhead mdl-color-text--grey-700">
            Load photos into your photo frame from your Google Photos albums.
        </p>
        <ul class="mdl-list" id="albums"></ul>
    </section>

    <!-- partial/js -->
    <script src={jQuery} is:inline></script>
    <script src="/js/common.js" is:inline></script>
    <!-- partial/js -->
    <script src="/js/album.js" is:inline></script>
</Layout>
