---
import Albums from "../ui/Albums.astro";

const loggedIn = Astro.cookies.get("gp_token");
export const prerender = false;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <p>
      {
        loggedIn ? (
          <span>
            You are logged in. <a href="/logout">Log out</a>
            <Albums />
          </span>
        ) : (
          <span>
            You are not logged in. <a href="/login">Log in</a>
          </span>
        )
      }
    </p>
  </body>
</html>
