---
import Albums from "../ui/Albums.astro";
import { parseSession } from "../session";

export const prerender = false;

const loggedIn = Astro.cookies.get("gp_token");
const session = await parseSession(loggedIn?.value);

const accessToken = session?.sessionToken.access_token
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <p>
      {
        accessToken ? (
          <span>
            You are logged in. <a href="/logout">Log out</a>
            <Albums accessToken={accessToken} />
          </span>
        ) : (
          <span>
            You are not logged in. <a href="/login">Log in</a>
          </span>
        )
      }
    </p>
  </body>
</html>
