---
import { libraryApiGetAlbums } from "../photos";

export type Props = {
  accessToken: string;
};

export const prerender = false;

const { accessToken } = Astro.props;

if (!accessToken) {
  return null;
}
const albumsGenerator = libraryApiGetAlbums(accessToken);
---

<h3>Albums</h3>
<ul>
  {
    async function* () {
      for await (const albumChunk of albumsGenerator) {
        if (albumChunk.error) {
          yield <li>{albumChunk.error}</li>;
          continue;
        }
        if (albumChunk.albums) {
          for (const album of albumChunk.albums) {
            yield (
              <li>
                <a href={album.productUrl}>{album.title || "<untitled>"}</a>
              </li>
            );
          }
        }
      }
    }
  }
</ul>
